<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
    <% rows.forEach(function(r){ %>
    <tr>
    <td class="<%= r.class %>"><%= r.host %></td>
    <td><%= r.ip %></td>
    <!-- <td><%= r.ctime %></td>  -->
    <td><%= r.age %></td>
    </tr>
    <% }); %>
  </body>
</html>
